.tabListWrapper {
  overflow-x: auto; /* allow horizontal scrolling */
  -webkit-overflow-scrolling: touch; /* smooth scrolling on iOS */
}

.tabList {
  display: flex;
  white-space: nowrap;
  justify-content: flex-start;
  margin: 0;
  padding: 16px; /* no measurements on Figma but wil choose 'S' from spacings */
  background-color: #e1dede;
  flex-wrap: nowrap;
  width: max-content;
}

.tabList.pill {
  gap: 8px; /* 2XS */
}

.tabList.underline {
  gap: 24px; /* L */
}

@media (min-width: 768px) {
  .tabList.pill {
    gap: 12px; /* XS */
  }

  .tabList.underline {
    gap: 32px; /*XL */
  }
}
