.tab,
.tab::before,
.tab::after {
  box-sizing: border-box;
}

@mixin tab-variant($type) {
  @if ($type == 'pill') {
    min-width: 62px;
    height: 42px;
    border-radius: 100px;
    border: 1px solid;
    padding: 0 12px;

    @media (min-width: 768px) {
      padding: 0px 16px;
      min-width: 70px;
      height: 50px;
    }
    /* --- Inactive State -- TAB: PILL --- */
    &.inactive {
      color: var(--dark-font-color);
      background-color: var(--pill-unselected-default-bg);
      border-color: var(--pill-unselected-default-border);

      // psuedo states
      &:hover {
        background-color: var(--pill-unselected-hover-bg);
        border-color: var(--pill-unselected-hover-border);
      }

      &:active {
        background-color: var(--pill-unselected-active-bg);
        border-color: var(--pill-unselected-active-border);
      }

      &:focus,
      &:focus-visible {
        background-color: var(--pill-unselected-focus-bg);
        border-color: var(--pill-unselected-focus-border);
        outline: 2px
          solid
          var(--pill-unselected-outline-border); /* 2px visible ring */
        outline-offset: 2px;
      }
    }
    /* --- Active State -- TAB: PILL --- */
    &.active {
      color: var(--pill-selected-font-color);
      background-color: var(--pill-selected-default-bg);
      border-color: var(--pill-selected-default-border);

      // psuedo states
      &:hover {
        background-color: var(--pill-selected-hover-bg);
        border-color: var(--pill-selected-hover-border);
      }

      &:focus {
        background-color: var(--pill-selected-focus-bg);
        border-color: var(--pill-selected-focus-border);
        outline: 2px
          solid
          var(--pill-selected-outline-border); /* 2px visible ring */
        outline-offset: 2px;
      }

      &:active {
        background-color: var(--pill-selected-active-bg);
        border-color: var(--pill-selected-active-border);
      }
    }
  } @else if($type == 'underline') {
    min-width: 38px;
    height: 42px;
    background-color: transparent;
    border-radius: 8px;
    padding: 0;
    position: relative; /* required for pseudo-elements */

    @media (min-width: 768px) {
      min-width: 38px;
      height: 50px;
    }

    &::after {
      content: '';
      position: absolute;
      left: 1%; /* underline width across*/
      right: 1%; /*underline width across */
      bottom: 0px; /* vertical position - at bottom */
      height: 3px;
      border-radius: 8px; /*2XS */
      background: transparent;
      transition: background-color 0.2s ease;
    }

    /* --- Inactive State -- TAB: UNDERLINE --- */
    &.inactive {
      &::after {
        background: transparent;
      }

      &:hover::after,
      &:active::after {
        background-color: var(--underline-unselected-hover-border);
      }

      /* Focus ring for transparent tab */
      &:focus-visible,
      &:focus {
        border-radius: 2px; /* this looks better but it should be 8px */
        outline: 2px
          solid
          var(--underline-unselected-outline-border); /* 2px visible ring */
        outline-offset: 2px; /* 4px away from the element - so it might be 4px */
      }

      &:focus-visible::after,
      &:focus::after {
        background-color: var(--underline-unselected-hover-border);
      }
    }
    /* --- Active State -- TAB: UNDERLINE --- */
    &.active {
      &::after {
        background: var(--underline-selected-default-border);
      }

      &:hover::after,
      &:active::after {
        background: var(--underline-selected-hover-border);
      }

      &:active:focus-visible,
      &:active:focus {
        border-radius: 2px; /* this looks better but it should be 8px */
        outline: 2px
          solid
          var(--underline-selected-outline-border); /* 2px thick visible ring */
        outline-offset: 2px;
      }
    }
  }
}

.tab {
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  line-height: 150%; /* equivalent to 1.5 */
  font-weight: 700;
  background: transparent;
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative; /* Needed for ::after underline */
  flex-shrink: 0; /*  Do not shrink flex items if space is limited. */
}

/* === TAB: PILL === */
.tab.pill {
  @include tab-variant('pill');
}

/* === TAB: UNDERLINE === */
.tab.underline {
  @include tab-variant('underline');
}

.badgeSpacing {
  margin-left: 12px; /*mobile TAB padding 'XS' */
}

@media (min-width: 768px) {
  .badgeSpacing {
    margin-left: 16px; /*desktop TAB padding 'S' - underline has the same spacing visually */
  }
}
